:root {
  --color-fondo: #000000;
  --color-primario: #3d2645;
  --color-secudario: #832161;
  --color-terciario: #da4167;
  --color-cuaternario: #f0eff4;
  --color-quinario: #600e1f;
  --color-Azultif: #0b927f;
  --color-azulbon: #156064;
  --color-Azur: #2c5784;
  --color-celests: #89a6fb;
  --color-celeste: #b8c5d6;
  --color-Gris: #373e40;
  --color-grisS: #a0a275;
  --color-Rosa: #d38d82;
  --color-Rosav: #735751;
  --verde-acento: #4a7d83;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: rgb(12, 9, 44);
  color: rgb(255, 255, 255);
  font-size: x-large;
}

header {
  padding: 5px;
  margin: 10px;
}
menu {
  display: inline;
  font-family: "Montserrat", sans-serif;
}
menu ul {
  display: flex;
  flex-direction: row;
  min-height: 1vh;
  justify-content: space-evenly;
  background-color: rgb(28, 191, 255);
  padding: 20px;
  border-radius: 50px;
  font-weight: 610;
}

menu li {
  padding: 7px;
  list-style: none;
}
menu a {
  text-decoration: none;
  color: #100666;
  font-size: 1.5em;
}

menu a:hover {
  color: rgb(255, 255, 255);
}

.presentacion {
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 50px;
  border: 4px solid white;
  text-align: right;
  padding: 100px;
  height: 400px;
  background-image: url(../img/Lovepik_com-401421519-teacher.png);
  background-size: contain;
  background-repeat: no-repeat;
  justify-content:center;
}


.presentacion h1 {
  text-align:center;
  font-family: "Montserrat", sans-serif;
}

.h2 {
  font-style: bold;
  font-weight: 800;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 10px;
  margin: 30px;
}

.titulo {
  font-style: bold;
  font-weight: 600;
  border-radius: 20px;
}

.cursos a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: row;
}

.box {
border: 1px solid;
}
.boxes{
  display: grid;
  grid-template-areas:
  " Algebra Fisica "
  " Matematicas Quimica ";
  min-height: 100vh;
}
.Algebra {
  grid-area: auto;
  padding: 50px;
  margin: 30px;
  background-color: var(--color-azulbon);
  text-align: center;
  list-style-type: none;
}

.Fisica {
 grid-area: auto;
  padding: 50px;
  margin: 30px;
  background-color: var(--color-azulbon);
  text-align: center;
  list-style-type: none;
}

.Matematicas {
  grid-area: auto;
  padding: 50px;
  margin: 30px;
  background-color: var(--color-azulbon);
  text-align: center;
  list-style-type: none;
}

.Quimica {
  grid-area: auto;
  padding: 50px;
  margin: 30px;
  background-color: var(--color-azulbon);
  text-align: center;
  list-style-type: none;
}
 
 

.card-imagen {
  justify-content: flex-start;
  width: 30;
  height: 30;

  background-color: var(--Color-Gris);
  text-align: center;
  border: 6px solid var(--color-celests);
  border-radius: 20px;
}

p {
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 578px) {
menu {
  grid-area: auto;
  display: grid;
  grid-row: auto;
  font-family: "Montserrat", sans-serif;
}
  .boxes {
  display: grid;
  grid-template-areas:
    " Algebra Fisica"
    " Matematicas Quimica ";
   min-height: 100vh;
}
}

@media screm and (min-width: 1200 px) {
 
  

  .card-imagen {
    justify-content: flex-start;
    width: 50;
    height: 50;

    background-color: var(--Color-Gris);
    text-align: center;
    border: 6px solid var(--color-celests);
    border-radius: 20px;
  }
}
